<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="d-lg-inline text-gray-600 small">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" id="alertsDropdown" role="button" data-toggle="modal"
                            data-target="#passwordModal" aria-haspopup="true" aria-expanded="false" href="#password">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Update Password
                        </a>
                        <a class="dropdown-item" href="#" id="alertsDropdown" role="button" href="#" data-toggle="modal"
                            data-target="#logoutModal" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-solid fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="alertsDropdown">

            </ul>

        </nav>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        <form action="menu" method="POST" enctype="multipart/form-data" id="my_form"
                                            class="needs-validation" novalidate>

                                            {{#if errorMsg}}
                                            <div class="text-center">
                                                <div class="alert alert-danger" role="alert">{{errorMsg}}</div>
                                                {{else}}
                                                <label class="form-label" for="customFile">Upload Menu</label>
                                                {{/if}}
                                                <div class="container mt-3">
                                                    <div class="mb-6">
                                                        <select class="form-control" id="validationCustom04"
                                                            name="selectControl" title="Select upload type" required>
                                                            <option selected disabled value="">Select upload type
                                                            </option>
                                                            <option value="qrMenu">Qr-Menu</option>
                                                            <option value="foodMenu">Food Menu</option>
                                                            <option value="cocktailMenu">Cocktail Menu</option>
                                                            <option value="beer&WineMenu">Beer&amp;wine Menu</option>
                                                        </select>
                                                        <div class="invalid-feedback text-center">
                                                            Please select the uploaded type.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col mt-2">
                                                    <input type="file" name="file" class="form-control" id="customFile"
                                                        accept="application/pdf" required />
                                                </div>

                                                <div class="col text-center mt-2">
                                                    <input type="submit" class="btn btn-info"> </input>
                                                    <input type="reset" id="'resetButton" class="btn btn-secondary"
                                                        onClick="handleReset()"></input>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>


    </div>

    <!-- Logout Modal-->
    <form action="/authenticate/logout" method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">End your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                            id="cancelLogout">Cancel</button>
                        <input value="Logout" class="btn btn-primary" type="submit" id="submit" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action='/users/{{user.username}}' method="POST">
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputNewPassword">New Password</label>
                            <input type="password" class="form-control" id="inputNewPassword" required=""
                                name="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="inputRepeatedPassword">Verify Password</label>
                            <input type="password" class="form-control" id="inputRepeatedPassword" required=""
                                name="repeatedPassword">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal" id="cancel">Cancel</button>
                        <input value="Save" class="btn btn-primary" type="submit" id='save' disabled="true"
                            onclick="errorHandling()">
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>