{{!-- {{#if isAdmin}}
<div class="col-xl-8 col-lg-12">
  <div id="exTab3" class="container"> --}}
    {{!-- {{else}} --}}
    <div class="col-xl-12 col-lg-12" style="padding: 0 2em;">

        {{!-- {{/if}} --}}
        <div class="card shadow mb-4">
          <div class="tab-content clearfix ">
            <ul class="nav justify-content-center" style="padding: 1em;">
              <li class="nav-item active"><a class="nav-link btn btn-outline-info fancyButton active"
                  onclick="handleMenuTabs('foodMenu');" type="button" data-toggle="tab">Food Menu</a></li>
              <li class="nav-item"><a class="nav-link btn btn-outline-info fancyButton"
                  onclick="handleMenuTabs('cocktailMenu')" type="button" data-toggle="tab">Cocktail Menu</a></li>
              <li class="nav-item"><a class="nav-link btn btn-outline-info fancyButton"
                  onclick="handleMenuTabs('beerMenu')" type="button" data-toggle="tab">Beer &amp; Wine Menu</a></li>
              <li class="nav-item"><a class="nav-link btn btn-outline-info fancyButton"
                  onclick="handleMenuTabs('qrMenu');  return true;" type="button" data-toggle="tab">QR Menu</a></li>
            </ul>
          </div>
          <div class="card-body">
                 <div style="padding: 1em;" >    

                <div id="foodMenuTableBody" >
                    <div class="form-outline mb-4">
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Filter
                      </button>
                        <div class="collapse" id="collapseExample" style="padding: 1em;">
                          <div class="card card-body">
                            <label class="form-label" for="datatable-search-input">Search By Name</label>
                            <input type="text" id="myInput_food" onkeyup="foodMenuFunction()"
                              placeholder="Search for names.." class="form-control">
                          </div>
                        </div>
                    </div>
            
                    <table class="table table-bordered table-hover table-responsive" id="addRow_foodMenu">
                      <thead class="thead-dark">
                        <tr>
                        <th class="col-md-2">Id</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-sm-1">Price</th>
                        <th class="">Description</th>
                          <th class="col-md-2" style="text-align:center;">
                            <a type="button" class='btn-info btn-lg' data-toggle='modal' data-target='#menuModals'>
                              <i class="fa fa-plus"></i>
                            </a>
                          </th>
                  
                        </tr>
                      </thead>
                      <tbody id="table_body">
                        {{#each foodMenuData.data}}
                        <tr>
                          <td style="text-align:center;" id="{{_id}}">{{_id}}</td>
                          <td class="id">{{name}}</td>
                          <td class="">{{price}}</td>
                          <td class="">{{description}}</td>
                          <td style="text-align:center;">
                            <a class='btn btn-primary' data-toggle='modal' data-target='#menuModals'
                              contenteditable='false' style="margin-bottom: .2em;">
                              <span id='span'><i class='fa fa-pencil'></i></span>
                            </a>
                            <a class='btn btn-danger' title='Delete'>
                              <span id='span'><i class='fa fa-trash'></i></span>
                            </a>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                </div>
                
                <div id="cocktailMenuTableBody">
                  <div class="form-outline mb-4">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                      aria-expanded="false" aria-controls="collapseExample">
                      Filter
                    </button>
                    <div class="collapse" id="collapseExample" style="padding: 1em;">
                      <div class="card card-body">
                        <label class="form-label" for="datatable-search-input">Search By Name</label>
                        <input type="text" id="myInput_cocktail" onkeyup="cocktailMenuFunction()"
                          placeholder="Search for names.." class="form-control">
                      </div>
                    </div>
                  </div>
                  <table class="table table-bordered table-hover table-responsive" id="addRow_cocktailMenu" >
                    <thead class="thead-dark">
                      <tr>
                        <th class="col-md-2">Id</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-sm-1">Price</th>
                        <th class="">Description</th>
                        <th style="text-align:center;">
                          <a type="button" class='btn-info btn-lg' data-toggle='modal' data-target='#menuModals'>
                            <i class="fa fa-plus"></i>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="table_body">
                      {{#each cocktailMenuData.data}}
                      <tr>
                        <td style="text-align:center;" id="{{_id}}">{{_id}}</td>
                        <td class="">{{name}}</td>
                        <td class="">{{price}}</td>
                        <td class="">{{description}}</td>
                        <td style="text-align:center;">
                          <a class='btn btn-primary' data-toggle='modal' data-target='#menuModals'
                            contenteditable='false' style="margin-bottom: .2em;">
                            <span id='span'><i class='fa fa-pencil'></i></span>
                          </a>
                          <a class='btn btn-danger' title='Delete' onclick='onDelete("{{_id}}", "{{menuTitle}}")'>
                            <span id='span'><i class='fa fa-trash'></i></span>
                          </a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>

                <div id="beerMenuTableBody">
                  <div class="form-outline mb-4">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                      aria-expanded="false" aria-controls="collapseExample">
                      Filter
                    </button>
                    <div class="collapse" id="collapseExample" style="padding: 1em;">
                      <div class="card card-body">
                        <label class="form-label" for="datatable-search-input">Search By Name</label>
                        <input type="text" id="myInput_beer" onkeyup="beerMenuFunction()"
                          placeholder="Search for names.." class="form-control">
                        <br>
                        <label class="form-label" for="datatable-search-input">Search By Type</label>
                        <input type="text" id="myInput_beer_type" onkeyup="beerTypeMenuFunction()"
                          placeholder="Search for types.." class="form-control">
                      </div>
                    </div>
                  </div>
                  <table class="table table-bordered table-hover table-responsive" id="addRow_beerMenu">
                    <thead class="thead-dark">
                      <tr>
                        <th class="col-md-2">Id</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-sm-1">Price</th>
                        <th class="">Description</th>
                        <th class="col-md-2">Type</th>
                        <th style="text-align:center;">
                          <a type="button" class='btn-info btn-lg' data-toggle='modal' data-target='#menuModals'>
                            <i class="fa fa-plus"></i>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="table_body">
                      {{#each beer_wineMenuData.data}}
                      <tr>
                        <td style="text-align:center;" id="{{_id}}">{{_id}}</td>
                        <td class="">{{name}}</td>
                        <td class="">{{price}}</td>
                        <td class="">{{description}}</td>
                        <td class="">{{type}}</td>
                        <td style="text-align:center;">
                          <a class='btn btn-primary' data-toggle='modal' data-target='#menuModals'
                            contenteditable='false' style="margin-bottom: .2em;">
                            <span id='span'><i class='fa fa-pencil'></i></span>
                          </a>
                          <a class='btn btn-danger' title='Delete' onclick='onDelete("{{_id}}", "{{menuTitle}}")'>
                            <span id='span'><i class='fa fa-trash'></i></span>
                          </a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>

                <div id="qrMenuTableBody">
                  <div class="form-outline mb-4">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                      aria-expanded="false" aria-controls="collapseExample">
                      Filter
                    </button>
                    <div class="collapse" id="collapseExample" style="padding: 1em;">
                      <div class="card card-body">
                        <label class="form-label" for="datatable-search-input">Search By Name</label>
                        <input type="text" id="myInput_qr" onkeyup="qrMenuFunction()" placeholder="Search for names.."
                          class="form-control">
                        <br>
                        <label class="form-label" for="datatable-search-input">Search By Type</label>
                        <input type="text" id="myInput_qr_type" onkeyup="qrTypeMenuFunction()"
                          placeholder="Search for types.." class="form-control">
                      </div>
                    </div>
                  </div>
                  <table class="table table-bordered table-hover table-responsive" id="addRow_qrMenu">
                    <thead class="thead-dark">
                      <tr>
                        <th class="col-md-2">Id</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-sm-1">Price</th>
                        <th class="">Description</th>
                        <th class="col-md-2">Type</th>
                        <th style="text-align:center;">
                          <a type="button" class='btn-info btn-lg' data-toggle='modal' data-target='#menuModals'>
                            <i class="fa fa-plus"></i>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="table_body">
                      {{#each qrCodeMenuData.data}}
                      <tr>
                        <td style="text-align:center;" id="{{_id}}">{{_id}}</td>
                        <td class="">{{name}}</td>
                        <td class="">{{price}}</td>
                        <td class="">{{description}}</td>
                        <td class="">{{type}}</td>
                        <td style="text-align:center;">
                          <a class='btn btn-primary' data-toggle='modal' data-target='#menuModals'
                            contenteditable='false' style="margin-bottom: .2em;">
                            <span id='span'><i class='fa fa-pencil'></i></span>
                          </a>
                          <a class='btn btn-danger' title='Delete' onclick='onDelete("{{_id}}", "{{menuTitle}}")'>
                            <span id='span'><i class='fa fa-trash'></i></span>
                          </a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>

              </div>
          </div>
        </div>
      </div>

    <div class="modal fade" id="menuModals" tabindex="-1" role="dialog" aria-labelledby="menuModalsLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="menuModalsLabel">Update Menu Items</h4>
            <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×
              </span><span class="sr-only">Close</span>
            </button>
          </div>

          <div class="modal-body" id="modalBody">
            <form class="needs-validation" name="modalForm" action="/foodMenu" method="post" id="menuModalForm"
              novalidate>

              <div class="form-group open" id="selectOptions">
                <label for="name" class="col-form-label">Type</label>
                <select class="form-control " id="validationCustom04" name="type" title="Select type" required>
                  <option selected disabled value="">Select</option>
                  <option value="beer">Beer</option>
                  <option value="red">Red</option>
                  <option value="white">White</option>
                  <option value="sparkling">Sparkling</option>
                </select>
                <select class="form-control " id="validationCustom05" name="type" title="Select type" required>
                  <option selected disabled value="">Select</option>
                  <option value="scotch">Scotch Single Malt &amp; Blended</option>
                  <option value="canadianWhiskey">Canadian &amp; American Whiskey</option>
                  <option value="irishWhiskey">Irish Whiskey</option>
                  <option value="tequila">Tequila &amp; Mezcal</option>
                  <option value="rum">Rum &amp; Cachaca</option>
                  <option value="cognac">Cognac &amp; Armagnac</option>
                  <option value="vodka">Vodka</option>
                  <option value="gin">Gin</option>
                </select>
              </div>

              <br>
              <div class="form-group">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="price" class="col-form-label">Price</label>
                <input type="text" step="0.01" name="price" id="price" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <input type="text" name="description" id="description" class="form-control">
              </div>
              <div class="form-group">
                <label for="description" class="col-form-label">Id</label>
                <input type="text" name="_id" id="id" class="form-control" readonly="readonly">
              </div>


              <div class="modal-footer actions">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="saveModal" disabled="true"
                  onclick="onSaveModalItem();">Save changes</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>