




<div class="col-xl-8 col-lg-7">

  <div id="exTab3" class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#1b" data-toggle="tab">Food Menu</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#2b" data-toggle="tab">Cocktail Menu</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#3b" data-toggle="tab">Beer &amp; Wine Menu</a>
      </li>
    </ul>
    <div class="card shadow mb-4">
      <div class="tab-content clearfix ">

        <div class="tab-pane active" id="1b">
            <div class="col text-right" style="padding: 1em">
            <button type="button" class="btn btn-info add-row">
              <i class="fa fa-plus"></i> Add New
            </button>
          </div>
          <div class="card-body">
            <div class="container">
              <table class="table table-bordered table-striped" id="editableTable">
                <thead>
                  <tr>
                    <th class="">Name</th>
                    <th class="">Price</th>
                    <th class="">Description</th>
                    <th class="">Id</th>
                    <th class="">Action</th>
                  </tr>
                </thead>
                <tbody id="table_body">
                  {{#each foodMenuData}}
                  <tr>
                    <td class="">{{name}}</td>
                    <td class="">{{price}}</td>
                    <td class="">{{description}}</td>
                    <td style="text-align:center;" id="itemId">{{_id}}</td>
                    <td style="text-align:center; display: flex;">
                      <a class='btn btn-primary' data-toggle='modal' data-target='#myModal' contenteditable='false'>
                        <span id='span'><i class='fa fa-pencil'></i></span>
                      </a>
                      <a class='btn btn-danger' title='Delete'>
                        <span id='span'><i class='fa fa-trash'></i></span>
                      </a>
                    </td>
                  </tr>

                  {{/each}}

                </tbody>
              </table>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content"></div>
                </div>
                <div class="modal-dialog">
                  <div class="modal-content"></div>
                </div>
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×
                        </span><span class="sr-only">Close</span>
                      </button>
                    </div>

                    <div class="modal-body" id="modalBody">
                      <form name="modalForm" action="/" method="post">
                        <div class="form-group">
                          <label for="name" class="col-form-label">Name</label>
                          <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="price" class="col-form-label">Price</label>
                          <input type="text" name="price" id="price" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-form-label">Description</label>
                          <input type="text" name="description" id="description" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-form-label">Id</label>
                          <input type="text" name="id" id="id" class="form-control" readonly="readonly">
                        </div>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="2b">
           <div class="col text-right" style="padding: 1em">
            <button type="button" class="btn btn-info add-row">
              <i class="fa fa-plus"></i> Add New
            </button>
          </div>
          <div class="card-body">
            <div class="container">
              <table class="table table-bordered table-striped" id="editableTable">
                <thead>
                  <tr>
                    <th class="">Name</th>
                    <th class="">Price</th>
                    <th class="">Description</th>
                    <th class="">Id</th>
                    <th class="">Action</th>
                  </tr>
                </thead>
                <tbody id="table_body">
                  {{#each cocktailMenuData}}
                  <tr>
                    <td class="">{{name}}</td>
                    <td class="">{{price}}</td>
                    <td class="">{{description}}</td>
                    <td style="text-align:center;" id="itemId">{{_id}}</td>
                    <td style="text-align:center; display: flex;">
                      <a class='btn btn-primary' data-toggle='modal' data-target='#myModal' contenteditable='false'>
                        <span id='span'><i class='fa fa-pencil'></i></span>
                      </a>
                      <a class='btn btn-danger' title='Delete'>
                        <span id='span'><i class='fa fa-trash'></i></span>
                      </a>
                    </td>
                  </tr>

                  {{/each}}

                </tbody>
              </table>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content"></div>
                </div>
                <div class="modal-dialog">
                  <div class="modal-content"></div>
                </div>
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×
                        </span><span class="sr-only">Close</span>
                      </button>
                    </div>

                    <div class="modal-body" id="modalBody">
                      <form name="modalForm" action="/" method="post">
                        <div class="form-group">
                          <label for="name" class="col-form-label">Name</label>
                          <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="price" class="col-form-label">Price</label>
                          <input type="text" name="price" id="price" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-form-label">Description</label>
                          <input type="text" name="description" id="description" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-form-label">Id</label>
                          <input type="text" name="id" id="id" class="form-control" readonly="readonly">
                        </div>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="3b">
          <div class="card-body">
            <div class="container">
              <table class="table table-bordered table-striped" id="editableTable">
                <thead>
                  <tr>

                    <th class="">Name</th>
                    <th class="">Price</th>
                    <th class="">Description</th>
                    <th class="">Id</th>
                    <th class="">Action</th>
                  </tr>
                </thead>
                <tbody id="table_body">
                  {{#each beer_wineMenuData}}
                  <tr>
                    <td class="">{{name}}</td>
                    <td class="">{{price}}</td>
                    <td class="">{{description}}</td>
                    <td style="text-align:center;" id="itemId">{{_id}}</td>
                    <td style="text-align:center; display: flex;">
                      <a class='btn btn-primary' data-toggle='modal' data-target='#myModal' contenteditable='false'>
                        <span id='span'><i class='fa fa-pencil'></i></span>
                      </a>
                      <a class='btn btn-danger' title='Delete'>
                        <span id='span'><i class='fa fa-trash'></i></span>
                      </a>
                    </td>
                  </tr>

                  {{/each}}

                </tbody>
              </table>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content"></div>
                </div>
                <div class="modal-dialog">
                  <div class="modal-content"></div>
                </div>
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×
                        </span><span class="sr-only">Close</span>
                      </button>
                    </div>

                    <div class="modal-body" id="modalBody">
                      <form name="modalForm" action="/" method="post">
                        <div class="form-group">
                          <label for="name" class="col-form-label">Name</label>
                          <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="price" class="col-form-label">Price</label>
                          <input type="text" name="price" id="price" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-form-label">Description</label>
                          <input type="text" name="description" id="description" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-form-label">Id</label>
                          <input type="text" name="id" id="id" class="form-control" readonly="readonly">
                        </div>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>