<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">

        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Upload Menu</h6>
        </div>
        <!-- Card Body -->
        <div class="col text-right" style="padding: 1em">
            <button type="button" class="btn btn-info add-new">
                <i class="fa fa-plus"></i> Add New
            </button>
        </div>
        <div class="card-body">
            {{!-- <form action="/" method="POST" id="my_form" class="needs-validation" novalidate> --}}
                 
<div class="container">
  {{!-- <table class="_table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th width="50px">
          <div class="action_container">
            <a class="success" onclick="create_tr('table_body')">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="table_body">
            {{#each menuData}}
        <tr>
          <th>{{@index}}</th>
        <td>
          <input type="text" class="form_control" name="{{@index}}" value='{{name}}'>
        </td>
        <td>
          <input type="text" class="form_control" name="{{@index}}" value="{{price}}">
        </td>
        <td>
          <textarea class="form_control" name="{{@index}}" value="{{description}}">{{description}}</textarea>
        </td>
        <td>
          <div class="action_container">
            <button class="danger" onclick="remove_tr(this)">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table> --}}
  <table class="table table-bordered table-striped" >
    <thead>
        <tr>
            <th class="">#</th>
            <th class="">Name</th>
            <th class="">Price</th>
            <th class="">Description</th>
            <th >Id</th>
              <th width="50px">
          <div class="action_container">
            <a class="success" onclick="create_tr('table_body')">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </th>
        </tr>
    </thead>
    <tbody id="table_body">
        {{#each menuData}}
            <tr>
            <td style="text-align:center;" class="">{{@index}}</td>
            <td class="">{{name}}</td>
            <td style="text-align:center;" class="">{{price}}</td>
            <td style="text-align:center;" class="">{{description}}</td>
             <td style="text-align:center;" class=""  style="display: none;">{{_id}}</td>
            <td style="text-align:center;">
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal" contenteditable="false">Edit</button>
            </td>
        </tr>

        {{/each}}
  
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                </button>
                

            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>  
<div class="col text-right" style="padding: 1em">
     <button class="btn btn-info add-new" id="saveChanges">
                Save
            </button>
</div>
           
            {{!-- </form> --}}
        </div>
    </div>
</div>



